.heroheader{
    background-color: #1F2937;
}
#he1{
    font-weight: 1000;
    color: #F9FAF8;
    font-size: 48px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 16px;
    padding: 8px;
    color: #E5E7EB;
    margin-left: 16px;
}
.list2{
    list-style-type: none;
}

.information{
    font-size: 36px; 
    font-weight: 1000; 
    color: #1F2937; 
    display: flex;
    justify-content: center;
}

.listitems{
    font-size: 18px;
    color: #1F2937;
}